
        
            <div class="container-fluid navbar-dark">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><img src="../../assets/images/flipkart.png" class='kart'></a>
                    <div class="explore">
                    <a class="plus" href="/plus">Explore<span class="pluss">Plus</span><img class="exp_plus" src="//img1a.flixcart.com/www/linchpin/fk-cp-zion/img/plus_aef861.png"></a>
                   </div>
                </div>      
                
         </div> 

  
 