<footer>
    <div class="container-fluid">
        <div class="col-12">
            <div class="row">
                
                <div class="col-sm-3">
                    <h6 class="ftr-hdr">ABOUT</h6>
                    <ul class="ftr-links-sub">
                      <li><a href="#" rel="nofollow">Contact Us</a></li>
                      <li><a href="#" rel="nofollow">Ordering</a></li>
                      <li><a href="#" rel="nofollow">Shipping &amp; Delivery</a></li>
                      <li><a href="#" rel="nofollow">Returns</a></li>
                      <li><a href="#" rel="nofollow">International Orders</a></li>
                      <li><a href="#" rel="nofollow">Gift Cards</a></li>
                      <li><a href="#" rel="nofollow">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h6 class="ftr-hdr">HELP</h6>
                    <ul class="ftr-links-sub">
                      <li><a href="#" rel="nofollow">Contact Us</a></li>
                      <li><a href="#" rel="nofollow">Gift Cards</a></li>
                      <li><a href="#" rel="nofollow">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h6 class="ftr-hdr">PRIVACY</h6>
                    <ul class="ftr-links-sub">
                      <li><a href="#" rel="nofollow">Contact Us</a></li>
                      <li><a href="#" rel="nofollow">Gift Cards</a></li>
                      <li><a href="#" rel="nofollow">FAQs</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h6 class="ftr-hdr">SOCIAL</h6>
                    <ul class="ftr-links-sub">
                      <li><a href="#" rel="nofollow">Contact Us</a></li>
                      <li><a href="#" rel="nofollow">Ordering</a></li>
                      <li><a href="#" rel="nofollow">Shipping &amp; Delivery</a></li>
                      <li><a href="#" rel="nofollow">Gift Cards</a></li>
                      <li><a href="#" rel="nofollow">FAQs</a></li>
                    </ul>
                </div>

                <hr>
               
            </div>
        </div>
    </div>
</footer>